.form-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.divActions{
  justify-content: flex-start;
  padding: 2%;
}

.mat-mdc-raised-button{
  background-color: #0088CC !important;
}

.mainDivDialog {
  padding: 20px;
  box-sizing: border-box;
}
